   <!-- Nav Bar Start -->
        <div class="nav">
            <div class="container-fluid" style="
    display: flex;
    flex-direction: column-reverse;
    align-content: space-around;
    justify-content: flex-start;
    flex-wrap: wrap;">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            <a href="index.html" class="nav-item nav-link active">خانه</a>
                            <a href="{% url 'cart' %}" class="nav-item nav-link">سبد خرید</a>
                            <a href="my-account.html" class="nav-item nav-link">حساب کاربری</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">صفحات بیشتر</a>
                                <div class="dropdown-menu">
                                    <a href="{% url 'login' %}" class="dropdown-item">ورود یا ثبت نام</a>
                                    <a href="contact.html" class="dropdown-item">ارتباط باما</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="">
                                <img src="static/img/logo.png" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="search">
                            <input type="text" placeholder="Search">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="user">
                            {% if user.is_authenticated %}
                                <a class="btn bg-danger text-white" href="{% url 'logout' %}">logout </a>
                            {% else %}
                                <a class="btn bg-success text-white"  href="{% url 'login' %}">login </a>
                            {% endif %}
                            <a class="btn" href="{% url 'signup' %}">signup </a>
                            <a href="wishlist.html" class="btn wishlist">
                                <i class="fa fa-heart"></i>
                                <span>(0)</span>
                            </a>
                            <a href="cart.html" class="btn cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span>(0)</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Bar End -->
        <!-- Brand Start -->
        <div class="brand" >
            <div class="container-fluid">
                <div class="brand-slider">
                    <div class="brand-item"><img src="static/img/brand-1.png" alt=""></div>
                    <div class="brand-item"><img src="static/img/brand-2.png" alt=""></div>
                    <div class="brand-item"><img src="static/img/brand-3.png" alt=""></div>
                    <div class="brand-item"><img src="static/img/brand-4.png" alt=""></div>
                    <div class="brand-item"><img src="static/img/brand-5.png" alt=""></div>
                    <div class="brand-item"><img src="static/img/brand-6.png" alt=""></div>
                </div>
            </div>
        </div>
        <!-- Brand End -->
